P_generosa/data/Pgenerosa_v070.fa
P_generosa/wd/022319/GO-GOslim.sorted
P_generosa/wd/022319/uniprot-SP-GO.sorted
*.cov
P_generosa/data/pgen_bsseq_all_R1_bismark_bt2.deduplicated.bedGraph
P_generosa/data/pgen_bsseq_all_R1_bismark_bt2.deduplicated.bedGraph.tdf
P_generosa/data/Pgenerosa_v071.fasta
P_generosa/data/Pgenerosa_v073.fasta
P_generosa/data/geo-tran4-v071.sorted.gff
P_generosa/data/geo-tran4-v071.gff
.Rproj.user
nb-2019.Rproj
*.bam
misc/wd/GO-GOslim.sorted
C_virginica/.DS_Store
C_virginica/data/.DS_Store
C_virginica/data/.DS_Store
O_lurida/wd/19-03-26/Olurida_v081.fa
C_gigas/data/uniprot_sprot.fasta
C_gigas/data/uniprot_sprot.phr
C_gigas/data/uniprot_sprot.pin
C_gigas/data/uniprot_sprot.psq
*.fasta
P_generosa/Pgenerosa_v071.nhr
P_generosa/Pgenerosa_v071.nin
P_generosa/Pgenerosa_v071.nsq
P_generosa/Pgv071_v071.tab
