P_generosa/data/Pgenerosa_v070.fa
P_generosa/wd/022319/GO-GOslim.sorted
P_generosa/wd/022319/uniprot-SP-GO.sorted
*.cov
P_generosa/data/pgen_bsseq_all_R1_bismark_bt2.deduplicated.bedGraph
P_generosa/data/pgen_bsseq_all_R1_bismark_bt2.deduplicated.bedGraph.tdf
P_generosa/data/Pgenerosa_v071.fasta
P_generosa/data/Pgenerosa_v073.fasta
P_generosa/data/geo-tran4-v071.sorted.gff
P_generosa/data/geo-tran4-v071.gff
.Rproj.user
nb-2019.Rproj
*.bam
misc/wd/GO-GOslim.sorted
C_virginica/.DS_Store
C_virginica/data/.DS_Store
C_virginica/data/.DS_Store
O_lurida/wd/19-03-26/Olurida_v081.fa
C_gigas/data/uniprot_sprot.fasta
C_gigas/data/uniprot_sprot.phr
C_gigas/data/uniprot_sprot.pin
C_gigas/data/uniprot_sprot.psq
*.fasta
P_generosa/Pgenerosa_v071.nhr
P_generosa/Pgenerosa_v071.nin
P_generosa/Pgenerosa_v071.nsq
P_generosa/Pgv071_v071.tab
O_lurida/data/Olurida_v081.all.sorted.gff
O_lurida/data/20181127_oly_genome_snap02.all.renamed.putative_function.domain_added.gff
O_lurida/data/Olurida_v081.fa
*.gz
P_generosa/analyses/myobj_145
P_generosa/analyses/EPI-44.destrand
*5x.bedgraph
.RData
P_generosa/analyses/Pg_val_destrand.10x.bedgraph
P_generosa/data/Pgenerosa_v074.fa
*.bedgraph
*.bed
P_generosa/analyses/zero_intersect_intron_u.txt
P_generosa/analyses/sparse_intersect_intron_u.txt
P_generosa/analyses/50p_intersect_intron_u.txt
P_generosa/tracks/Panopea-generosa-vv0.74.a3.rm.gff3
P_generosa/tracks/Pgenerosa_v074.CpG.gff
P_generosa/analyses/5xbedgraph.zip
P_generosa/notes/~$draft_figures.xlsx
C_bairdi/data/Crab_transcriptome_v1.fa
C_bairdi/data/Crab_transcriptome_v1.fa
P_generosa/analyses/myobj_d10
P_generosa/analyses/EPI-145_S38_L005_R1_001_val_1_bismark_bt2_pe.deduplicated.bismark.cov.destrand
P_generosa/analyses/EPI-145_S38_L005_R1_001_val_1_bismark_bt2_pe.deduplicated.bismark.cov.destrand
